<a href="https://colab.research.google.com/github/Hamdanay/scientific-computing/blob/main/2802597450_Taufiqurrahman_Hamdan_Al_Ayubi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import time
print(time.ctime())

Thu Feb  6 02:39:44 2025

sesi 1

In [3]:
x = 1
x

1

In [4]:
x = x + 1
x

2

In [5]:
x = 1
y = x + 1
x = 2
y

2

In [9]:
import numpy as np

In [11]:
x = np.array((1, 4, 3))
x

array([1, 4, 3])

In [14]:
x = np.array([[1, 4, 3], [9, 2, 7]])
x

array([[1, 4, 3],
       [9, 2, 7]])

In [20]:
def my_adder(a, b, c):
         """
         function to sum the 3 numbers
         input: 3 numbers a, b, c
         output: the sum of a, b, and c
         author:
         date:
         """

         #this is simulation
         out = a + b + c

         return out

In [21]:
my_adder(1, 2, 3)

6

In [26]:
def my_thermo_stat(temp, desired_temp):
  if temp < desired_temp - 5:
    status = 'heat'
  elif temp > desired_temp + 5:
    status = 'AC'
  else:
    status = 'off'
  return status

In [34]:
status = my_thermo_stat(65,75)
print(status)

heat

In [35]:
status = my_thermo_stat(75,65)
print(status)

AC

In [28]:
x = 3
if x > 1 and x < 2:
  y = 2
elif x> 2 and x < 4:
  y = 4
else:
  y = 0
print(y)

4

In [30]:
val = float(input("masukkan nama anda : "))
val

masukkan nama anda : 9

9.0

In [2]:
def calculate(uas, uts, asg):
    final_score = (0.5 * uas) + (0.3 * uts) + (0.2 * asg)
    return final_score


def get_grade(score):
    if score >= 80:
        return "A"
    elif score >= 70:
        return "B"
    elif score >= 60:
        return "C"
    elif score >= 50:
        return "D"
    else:
        return "E"

username = input("Masukkan Username: ")
password = ""

while password != "Bn123":
    password = input("Masukkan Password: ")
    if password != "Bn123":
        print("Password salah! Silakan coba lagi.")

print("Login Berhasil!, selamat datang Taufiq\n")

nama_siswa = input("Masukkan Nama Mahasiswa: ")
uas = float(input("Masukkan Nilai UAS: "))
uts = float(input("Masukkan Nilai UTS: "))
asg = float(input("Masukkan Nilai ASG: "))


final_score = calculate(uas, uts, asg)
grade = get_grade(final_score)

# hasil
print("\n=== HASIL PERHITUNGAN ===")
print(f"Nama Mahasiswa: {nama_siswa}")
print(f"Final Score: {final_score:.2f}")
print(f"Grade: {grade}")

Masukkan Username: Taufiq
Masukkan Password: Bn123
Login Berhasil!, selamat datang Taufiq

Masukkan Nama Mahasiswa: budi
Masukkan Nilai UAS: 89
Masukkan Nilai UTS: 70
Masukkan Nilai ASG: 79

=== HASIL PERHITUNGAN ===
Nama Mahasiswa: budi
Final Score: 81.30
Grade: A